/* SCorona custom style */
/* Date: 18/09/20       */
/* V0.1                 */

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 80%; 
  height: 100%; 
  float: left;
}

.mapboxgl-popup {
  max-width: 800px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#map_side {
  float: right; 
  width: 20%; 
  height: 100%;
}

header {
  padding-top: 10px;
  width: 100%;
  height: 90px;
  background-color: #19242f;
}

header img {
  display: block;
  height: 40px;
  margin: 0 auto;
}

header h1 {
  display: block;
  text-align: center;
  font-size: 26px;
  color: #f7f7f7;
  font-weight: normal;
}

#dateInputForm {
  margin: 15px 20px;
}

.my-legend .legend-title {
  /* bottom */
  position: absolute;
  bottom: 110px;

  text-align: left;
  margin-bottom: 10px;
}

.my-legend .legend-scale ul {
  /* bottom */
  position: absolute;
  bottom: 70px;

  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 52px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 90%;
  list-style: none;
}

.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 17px;
  width: 52px;
}

.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legend a {
  color: #777;  
}